<div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card bg-secondary-dark text-white overflow-hidden">
      <span class="round secondary-round small"></span>
      <span class="round secondary-round big"></span>
      <div class="card-body">
        <span class="text-white d-block f-34 f-w-500 my-2">
          One
        </span>
        <p class="mb-0 opacity-50">First Card</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card bg-primary-dark text-white overflow-hidden">
      <span class="round primary-round small"></span>
      <span class="round primary-round big"></span>
      <div class="card-body">
        <span class="text-white d-block f-34 f-w-500 my-2">
          Two
        </span>
        <p class="mb-0 opacity-50">Second Card</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card total-income-card overflow-hidden bg-primary-dark text-white">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon m-r-5">
            <i class="text-white ti ti-chart-pie f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white f-w-600 mb-1">Three</h4>
            <p class="mb-0 opacity-50 text-sm">Third Card</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-warning ti ti-chart-pie f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">Four</h4>
            <p class="mb-0 opacity-50 text-sm">Fourth Card</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-md-12">
    <div class="card">
      <div class="card-body">
        Data
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>List</h4>
          </div>
          <div class="col-auto"></div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-0">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mb-0">First</h5>
                <small class="text-success">20%</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">
                  200
                  <span class="ms-2 align-top avatar avatar-xxs bg-light-success">
                    <i class="ti ti-chevron-down text-success"></i>
                  </span>
                </h4>
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mb-0">Second</h5>
                <small class="text-danger">20%</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">
                  100
                  <span class="ms-2 align-top avatar avatar-xxs bg-light-danger">
                    <i class="ti ti-chevron-down text-danger"></i>
                  </span>
                </h4>
              </div>
            </div>
          </li>
        </ul>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary f-w-500">
            View all
            <i class="ti ti-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
